<table class="JSShopProductForm">
	<tr>
		<td id="JSShop-Products-Label"></td>
		<td id="JSShop-Products-Control"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td id="JSShop-Category-Label"></td>
		<td id="JSShop-Category-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-ProductId-Label"></td>
		<td id="JSShop-ProductId-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-Title-Label"></td>
		<td id="JSShop-Title-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-Description-Label"></td>
		<td id="JSShop-Description-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-Images-Label"></td>
		<td id="JSShop-Images-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-Price-Label"></td>
		<td>
			<div id="JSShop-Price-Control"></div>
			<div id="JSShop-Currency-Control"></div>
		</td>
	</tr>
	<tr>
		<td id="JSShop-Vat-Label"></td>
		<td id="JSShop-Vat-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-Weight-Label"></td>
		<td>
			<div id="JSShop-Weight-Control"></div>
			<div id="JSShop-WeightUnit-Control"></div>
		</td>
	</tr>
	<tr>
		<td id="JSShop-DeliveryTime-Label"></td>
		<td id="JSShop-DeliveryTime-Control"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td id="JSShop-DiscountExpression-Label"></td>
		<td id="JSShop-DiscountExpression-Control"></td>
	</tr>
	<tr>
		<td id="JSShop-DiscountMessage-Label"></td>
		<td id="JSShop-DiscountMessage-Control"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td id="JSShop-Buttons"></td>
	</tr>
</table>

<div class="JSShopProductFormImages"></div>

<div class="JSShopProductFormFooter"></div>
