<div>
	<b>{[CustomerDetailsHeadline]}</b>

	<div>{[Company]}</div>
	<div>{[FirstName]} {[LastName]}</div>
	<div>{[Address]}</div>
	<div>{[ZipCode]} {[City]}</div>
	<div><i class="fa fa-phone-square" style="width: 1.2em"></i> {[Phone]}</div>
	<div><i class="fa fa-envelope" style="width: 1.2em"></i> <a href="mailto:{[Email]}">{[Email]}</a></div>
</div>

<div style="margin-top: 1.5em; display: {[AltAddressDisplay]}">
	<b>{[AlternativeAddressHeadline]}</b>

	<div>{[AltCompany]}</div>
	<div>{[AltFirstName]} {[AltLastName]}</div>
	<div>{[AltAddress]}</div>
	<div>{[AltZipCode]} {[AltCity]}</div>
</div>

<div style="margin-top: 1.5em; display: {[MessageDisplay]}">
	<b>{[CustomerMessageHeadline]}</b>

	<div>{[Message]}</div>
</div>

<div style="margin-top: 1.5em; display: {[CustomDataDisplay]}">
	<b>{[CustomDataHeadline]}</b>

	<div>{[CustomData]}</div>
</div>