<div class="JSShopOrderListButtons">
	{[ToolbarFromDateField]}
	{[ToolbarToDateField]}
	{[ToolbarSearchField]}
	{[ToolbarUpdateButton]}
	{[ToolbarExportButton]}
	{[ToolbarInvoiceButton]}
	{[ToolbarCaptureButton]}
	{[ToolbarRejectButton]}
	{[ToolbarConfigButton]}
</div>

<table class="JSShopOrderList">
	<tr class="JSShopOrderListHeader">
		<td style="width: 25px; padding-right: 0em">{[HeaderSelectAll]}</td>
		<td>{[HeaderOrderId]}</td>
		<td>{[HeaderTime]}</td>
		<td>{[HeaderCustomer]}</td>
		<td style="width: 1px; padding-right: 0.5em;">&nbsp;</td>
		<td style="text-align: right">{[HeaderAmount]}</td>
		<td>{[HeaderPaymentMethod]}</td>
		<td>{[HeaderState]}</td>
		<td>{[HeaderInvoiceId]}</td>
	</tr>

	<!-- LIST Orders -->
	<tr>
		<td style="width: 25px; padding-right: 0em">{[Select]}</td>
		<td>{[OrderId]}</td>
		<td>{[Time]}</td>
		<td>{[Customer]}</td>
		<td style="width: 1px; padding-right: 0.5em;">{[Currency]}</td>
		<td style="text-align: right">{[Amount]}</td>
		<td>{[PaymentMethod]}</td>
		<td>{[State]}</td>
		<td>{[InvoiceId]}</td>
	</tr>
	<!-- /LIST Orders -->
</table>
