<div class="JSShopOrderForm">

	<div class="JSShopAddress">
		<div id="JSShop-Headline-Label"></div>

		<div id="JSShop-Company-Label"></div>
		<div id="JSShop-Company-Control"></div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div id="JSShop-FirstName-Label"></div>
				<div id="JSShop-FirstName-Control"></div>
			</div>

			<div class="JSShopSecond">
				<div id="JSShop-LastName-Label"></div>
				<div id="JSShop-LastName-Control"></div>
			</div>
		</div>

		<div id="JSShop-Address-Label"></div>
		<div id="JSShop-Address-Control"></div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div id="JSShop-ZipCode-Label"></div>
				<div id="JSShop-ZipCode-Control"></div>
			</div>

			<div class="JSShopSecond">
				<div id="JSShop-City-Label"></div>
				<div id="JSShop-City-Control"></div>
			</div>
		</div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div id="JSShop-Email-Label"></div>
				<div id="JSShop-Email-Control"></div>
			</div>

			<div class="JSShopSecond">
				<div id="JSShop-Phone-Label"></div>
				<div id="JSShop-Phone-Control"></div>
			</div>
		</div>

		<div id="JSShop-Message-Label"></div>
		<div id="JSShop-Message-Control"></div>

		<div id="JSShop-RememberMe-Label"></div>
		<div id="JSShop-RememberMe-Control"></div>

		<div id="JSShop-AlternativeAddress-Label"></div>
		<div id="JSShop-AlternativeAddress-Control"></div>
	</div>

	<div class="JSShopAlternativeAddress">
		<div id="JSShop-AlternativeHeadline-Label"></div>

		<div id="JSShop-AlternativeCompany-Label"></div>
		<div id="JSShop-AlternativeCompany-Control"></div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div id="JSShop-AlternativeFirstName-Label"></div>
				<div id="JSShop-AlternativeFirstName-Control"></div>
			</div>

			<div class="JSShopSecond">
				<div id="JSShop-AlternativeLastName-Label"></div>
				<div id="JSShop-AlternativeLastName-Control"></div>
			</div>
		</div>

		<div id="JSShop-AlternativeAddress-Label"></div>
		<div id="JSShop-AlternativeAddress-Control"></div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div id="JSShop-AlternativeZipCode-Label"></div>
				<div id="JSShop-AlternativeZipCode-Control"></div>
			</div>

			<div class="JSShopSecond">
				<div id="JSShop-AlternativeCity-Label"></div>
				<div id="JSShop-AlternativeCity-Control"></div>
			</div>
		</div>
	</div>

	<div class="JSShopPaymentForm">
		<div id="JSShop-Header-Label"></div>

		<div id="JSShop-PromoCode-Label"></div>
		<div id="JSShop-PromoCode-Control"></div>

		<div id="JSShop-PaymentMethod-Label"></div>
		<div id="JSShop-PaymentMethod-Control"></div>

		<div id="JSShop-AcceptTerms-Control"></div>

		<div id="JSShop-Continue-Control"></div>
	</div>

</div>
