<div class="JSShopOrderForm">

	<div class="JSShopAddress">
		<div><b>{[AddressArea]}</b></div>

		<div>{[CompanyLabel]}</div>
		<div>{[CompanyControl]}</div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div>{[FirstNameLabel]}</div>
				<div>{[FirstNameControl]}</div>
			</div>

			<div class="JSShopSecond">
				<div>{[LastNameLabel]}</div>
				<div>{[LastNameControl]}</div>
			</div>
		</div>

		<div>{[AddressLabel]}</div>
		<div>{[AddressControl]}</div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div>{[ZipCodeLabel]}</div>
				<div>{[ZipCodeControl]}</div>
			</div>

			<div class="JSShopSecond">
				<div>{[CityLabel]}</div>
				<div>{[CityControl]}</div>
			</div>
		</div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div>{[EmailLabel]}</div>
				<div>{[EmailControl]}</div>
			</div>

			<div class="JSShopSecond">
				<div>{[PhoneLabel]}</div>
				<div>{[PhoneControl]}</div>
			</div>
		</div>

		<div>{[MessageLabel]}</div>
		<div>{[MessageControl]}</div>

		<div>{[RememberMeControl]}</div>
		<div>{[EnableAltAddressControl]}</div>
	</div>


	<div class="JSShopAlternativeAddress" style="display: {[AltAddressDisplay]}">
		<div><b>{[AltAddressArea]}</b></div>

		<div>{[AltCompanyLabel]}</div>
		<div>{[AltCompanyControl]}</div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div>{[AltFirstNameLabel]}</div>
				<div>{[AltFirstNameControl]}</div>
			</div>

			<div class="JSShopSecond">
				<div>{[AltLastNameLabel]}</div>
				<div>{[AltLastNameControl]}</div>
			</div>
		</div>

		<div>{[AltAddressLabel]}</div>
		<div>{[AltAddressControl]}</div>

		<div class="JSShopPair">
			<div class="JSShopFirst">
				<div>{[AltZipCodeLabel]}</div>
				<div>{[AltZipCodeControl]}</div>
			</div>

			<div class="JSShopSecond">
				<div>{[AltCityLabel]}</div>
				<div>{[AltCityControl]}</div>
			</div>
		</div>
	</div>


	<div class="JSShopPaymentForm">
		<div><b>{[PaymentArea]}</b></div>

		<div>{[PromoCodeLabel]}</div>
		<div>{[PromoCodeControl]}</div>

		<div>{[PaymentMethodLabel]}</div>
		<div>{[PaymentMethodControl]}</div>

		<div>{[AcceptTermsControl]}</div>

		<div class="JSShopPaymentButton">{[ContinuePurchaseControl]}</div>
	</div>

</div>
