div#JSShopOrderListButtons
{
	text-align: right;
	margin-bottom: 1em;
}

div#JSShopOrderListButtons div.FitUiControl
{
	margin: 0.25em;
	vertical-align: bottom;
}

div#JSShopOrderListButtons div.FitUiControlInput input
{
	text-align: center;
	padding: 0.3em 0.75em 0.3em 0.75em;
	font-size: inherit;
}
div#JSShopOrderListButtons div.FitUiControlDropDown div.FitUiControlDropDownItems
{
	padding: 0.2em;
}

table.JSShopOrderList
{
    width: 100%;
}
table.JSShopOrderList td
{
    padding: 0.25em;
	padding-right: 2em;
}

tr.JSShopOrderListHeader td
{
    font-weight: bold;
}
