<div id="JSShopOrderListButtons"></div>

<table class="JSShopOrderList">
	<tr class="JSShopOrderListHeader">
		<td id="JSShop-Select" style="width: 25px; padding-right: 0em"></td>
		<td id="JSShop-OrderId"></td>
		<td id="JSShop-Time"></td>
		<td id="JSShop-Customer"></td>
		<td id="JSShop-Currency" style="width: 1px; padding-right: 0.5em;"></td>
		<td id="JSShop-Amount" style="text-align: right"></td>
		<td id="JSShop-PaymentMethod"></td>
		<td id="JSShop-State"></td>
		<td id="JSShop-InvoiceId"></td>
	</tr>

	<tr id="JSShopOrderEntry">
		<td style="width: 25px; padding-right: 0em">{[CheckBox]}</td>
		<td>{[OrderId]}</td>
		<td>{[Time]}</td>
		<td>{[Customer]}</td>
		<td style="width: 1px; padding-right: 0.5em;">{[Currency]}</td>
		<td style="text-align: right">{[Amount]}</td>
		<td>{[PaymentMethod]}</td>
		<td>{[State]}</td>
		<td>{[InvoiceId]}</td>
	</tr>
</table>
