div.SMCookieConsentPanelBackground
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: gray;
	opacity: 0.65;
}

div.SMCookieConsentPanel
{
	box-sizing: border-box;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 2em;
	max-height: 96%;
	overflow: auto;
	border: 1px solid #333;
	background: #333; /* Legacy IE fallback */
	background: rgba(0, 0, 0, 0.90);
	color: whitesmoke;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
div.SMCookieConsentPanel[data-position="top"]
{
	bottom: auto;
	top: 0px;
}
div.SMCookieConsentPanel[data-position="center"]
{
	bottom: auto;
	right: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 96%;
}

div.SMCookieConsentDescription > p
{
	margin: 0px;
}

div.SMCookieConsentActions
{
	margin-top: 2em;
}

div.SMCookieConsentCheckboxes,
div.SMCookieConsentButtons
{
	display: inline-block;
}

div.SMCookieConsentCheckbox
{
	display: inline-block;
	margin: 0.25em 0.75em;
	cursor: pointer;
}
div.SMCookieConsentCheckbox input
{
	margin-right: 0.25em;
}

div.SMCookieConsentButton
{
	display: inline-block;
	margin-top: 1em;
	margin-left: 1em;
	padding: 0.75em 2.25em;
	cursor: pointer;
	/*border-radius: 0.3em;*/
	border: 1px solid silver;
}